﻿<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-2.2.3.js"></script>
    <script src="~/scripts/knockout-3.4.0.js"></script>
    @RenderSection("Scripts")
</head>
<body>
    <div>
        @RenderSection("Body")
    </div>
</body>
</html>
