﻿@model WebAPIBooksStorage.Models.Book
@{
    Layout = null;
}

<div class="panel-heading">Dodaj Książke</div>
<div class="panel-body">
    @using (Html.BeginForm("Add", "Home"))
    {
        <div class="form-group">
            <label>Title</label>
            @Html.TextBoxFor(x=>x.Title, new { @class = "form control" })
        </div>
        <div class="form-group">
            <label>PublishHouse</label>
            @Html.TextBoxFor(x => x.PublishHouse, new { @class = "form control" })
        </div>
        <div class="form-group">
            <label>Author</label>
            @Html.TextBoxFor(x => x.Author, new { @class = "form control" })
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    }
            </div>