﻿@using WebAPIBooksStorage.Models

@model IEnumerable<Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @*
    <script>
        var model = {
            books: ko.observableArray()
        };

        function sendAjaxRequest(httpMethod, callback,url)
        {
            $.ajax("/api/home" + (url ? "/" + url : ""), {
                type: httpMethod, success: callback
            });
        }

        function getAllItems() {
            sendAjaxRequest("GET", function (data) {
                model.books.removeAll();
                for (var i = 0; i < data.length; i++) {
                    model.books.push(data[i]);
                }
            });
        }

        function removeItem(item)
        {
            sendAjaxRequest("DELETE", function () {
                for (var i = 0; i < model.books().length; i++)
                {
                    if(model.books()[i].Id == item.Id)
                    {
                        model.books.remove(model.books()[i]);
                        break;
                    }
                };
            }, item.Id);
        }

        $(document).ready(function () {
            getAllItems();
            ko.applyBindings(model);
        });
    </script>

        *@
}


@section Body{
    
    <div id="Summary" class="section panel panel-primary">
        @Html.Partial("Summary",Model)
    </div>
    <div id="Edit" class="section panel panel-primary">
        @Html.Partial("Edit", new Book())
    </div>
    }


@*
@section Body{
    <div id="Summary" class="section panel panel-primary">
    <div class="panel-heading">Rezerwacje</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr><th>Id</th><th>Title</th><th>PublishHouse</th><th>Author</th></tr>
            </thead>
            <tbody data-bind="foreach: model.Books)">
                   {
                        <tr>
                            <td data-bind="text: Id"></td>
                            <td data-bind="text: Title"></td>
                            <td data-bind="text: PublishHouse"></td>
                            <td data-bind="text: Author"></td>
                            <td>
                                <button class="btn btn-xs btn-primary" data-bind="click: removeItem">Usuń</button>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
    </div>
</div>
    <div id="Edit" class="section panel panel-primary">
    @Html.Partial("Edit", new BooksLiblary())
    </div>

    *@ 

}
