﻿@model IEnumerable<WebAPIBooksStorage.Models.Book>
@{
    Layout = null;
}

<div class="panel-heading">Książki</div>
<div class="panel-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr><th>Id</th><th>Title</th><th>PublishHouse</th><th>Author</th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr><td>@item.Id</td><td>@item.Title</td><td>@item.PublishHouse</td><td>@item.Author</td>
                <td>
                @Html.ActionLink("Usuń", "Remove", new { id = item.Id }, new { @class="btn btn-xs btn-primary"})
                    </td>
                    </tr>
            }
        </tbody>
    </table>
</div>



























